<md-dialog class="addMem ">
	<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add Members</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="content/images/icon_close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
	<div class="middle-contact-middle add-group">
		<div class="add-contact-list">
			<div class="left-list scroll-div">
				<div class="add-contact-search addmembersearch">
					<input type="text" placeholder="Charles Morgan">
					<i class="nc-icon-mini ui-1_zoom"></i> 
				</div>
				<div class="addmember-scroll">
					<ul>
						<li class="" role="presentation" ng-repeat="contact in contacts1"> 
							<a href="">
								<div class="added-contact-left"> 
									<span> <img alt="" class="added-contact-bg" src="content/images/11.jpg"></span>
									<p class="added-contact-text">{{contact.USERNAME}}</p>
									<p>Cincinatti, Oh, United States</p>
								</div>
								<div class="added-contact-right">
									<i class="nc-icon-mini ui-1_simple-add" ng-if="contact.existingroup == undefined" ng-click="addmembertogroup(contact)"></i>
									<i class="nc-icon-mini ui-1_check" ng-if="contact.existingroup == true"></i>
								</div>
							</a> 
						</li>
					</ul>	
				</div>
			</div>
			<div class="left-list left-right">
				<div class="add-group-top">
					<div class="left"><a href="#"><i class="nc-icon-mini users_single-03"></i></a></div>
					<div class="right"><span>{{selgroup}}</span></div>
				</div>
				<div class="clear"></div>
				<div class="group-added-list">
					<div class="group-contact-left">
						<div class="cont-add" ng-repeat="member in addmembers">
							<div class="left">{{member.username}} </div>
							<div class="right" ng-click="removemember($index)"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<!-- <div class="cont-add active">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div> -->
					</div>
					<!-- <div class="group-contact-left group-added-right">
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
						<div class="cont-add">
						<div class="left">Charles Morgan </div>
						<div class="right"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
						</div>
					</div> -->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="buttons">
					<md-button class="teamr-btn" type="button" ng-click="add()">Add</md-button>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</md-dialog>