<md-dialog class="">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Block Contact</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="content/images/icon_close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div class="blo-contact">
			<md-dialog-content>
				<div class="md-dialog-content">
					<h2>Are you sure you want to block {{seluser}}?</h2>
					<p>{{seluser}} will be blocked in your contacts and won’t be able to contact you.</p>
				</div>
			</md-dialog-content>
		</div>
<!-- 		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answer('block')">
				Block
			</md-button>
			<md-button ng-click="answer('cancel')" style="margin-right:20px;">
				Cancel
			</md-button>
		</md-dialog-actions> -->
		<div class="buttons">
			<md-button class="teamr-btn" type="button" ng-click="answer('block')">Block</md-button>
			<md-button class="teamr-btn teamr-cancel" type="button" teamr-cancel ng-click="answer('cancel')">Cancel </md-button>
			<div class="clear"></div>
		</div>
	</form>
</md-dialog>