<div class="login-main">
    	<div class="password-change">
        	<div class="tr-logo">
        		<img src="content/images/logo.png" alt="teamR logo"/>
        	</div>
        </div>
        <div class="password-change">
        	<div class="user-login-page">
            
            		<div class="new-password">
                    	<!-- <h3>Create New P
                        assword</h3>
                        <p>Enter your e-mail address below to reset your password.</p>
                    </div> -->

                  <md-input-container class="md-block flex-gt-sm user-input" flex-gt-sm="">
                   <i class="nc-icon-mini ui-1_lock-open"></i>
                      <label for="input_27">Old Password</label>
                      <input ng-model="details.currpass" class="ng-pristine ng-valid md-input ng-touched" id="input_27" aria-invalid="false" style="" type="password" oncopy="return false;" onpaste="return false;"><div class="md-errors-spacer"></div>
                  </md-input-container>
                  
                  <md-input-container class="md-block flex-gt-sm user-input" flex-gt-sm="">
                   <i class="nc-icon-mini ui-1_lock-open"></i>
                   		<label for="input_27">New Password</label>
                   	 	<input ng-model="details.newpass" class="ng-pristine ng-valid md-input ng-touched" id="input_27" aria-invalid="false" style="" type="password" oncopy="return false;" onpaste="return false;"><div class="md-errors-spacer"></div>
                  </md-input-container>
                  <md-input-container class="md-block flex-gt-sm user-input" flex-gt-sm="">
                  		<i class="nc-icon-mini ui-1_lock-open"></i>
                    	<label for="input_27">Confirm password</label>
                    	<input ng-model="details.cnfpass" class="ng-pristine ng-valid md-input ng-touched" id="input_28" aria-invalid="false" style="" type="password" oncopy="return false;" onpaste="return false;"><div class="md-errors-spacer"></div>
                  </md-input-container>

                  <div class="error-msg" ng-if="alert != '' "><p>{{alert}}</p></div>
                  
                  <div class="password-reset-btn">
                  		<md-button class="md-raised md-primary md-button md-ink-ripple btn-submit" type="button" ng-transclude="" aria-label="Primary" ng-click="submitpassword()">
                        	<span class="ng-scope">Submit</span>
                        	<div class="md-ripple-container"></div>
                       </md-button>
                       <md-button class="md-raised md-warn md-button md-ink-ripple btn-cancel" type="button" ng-transclude="" aria-label="Primary" ng-click="cancel()">
                        	<span class="ng-scope">Cancel</span>
                        	<div class="md-ripple-container"></div>
                       </md-button>
                  </div>
                        
               
            </div>
        </div>
    </div>