<div class="middle-contact padt50" ng-class="{slide:!showmenu,close:showmenu}" ng-init="chatviewinit()">
	<div class="middle-contact-top">
		<div class="middle-contact-left"> 
			<span class="user-img1">
			<img src="content/images/11.jpg"></span> 
			<span>{{seluser}}</span> 
		</div>
		<div class="call-icons">
			<ul>
				<li><a href=""><i class="nc-icon-mini ui-3_phone"></i></a></li>
				<li><a href=""><i class="nc-icon-mini media-1_video-67"></i></a></li>
				<li><a href=""><i class="nc-icon-mini ui-2_menu-dots"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="middle-contact-middle" ng-if="selobj.WAITING_APPROVAL == false">
		<div class="user-chat-area">
			<!-- <h4>YESTERDAY</h4> -->
			<div ng-class="chat.chatclass" ng-repeat="chat in chats" ng-if="chat.seluser == seluser">
				<div class="chat-icon-img"><span><img src="content/images/11.jpg"></span></div>
				<div class="chat-content">
					<div class="chat-content-text">
						<div class="chat-username">
							<span>{{chat.from}}</span>
							<div class="messageview text-right">
								<span class="time">{{chat.time}}</span>
								<span class="un-seen" ng-if="chat.issent == true">
									<i class="nc-icon-mini ui-1_eye-19"></i>
								</span>
							</div> 
						</div>
						<p>{{chat.message}}</p>
					</div>
				</div>
			</div>
<!-- 		    <div class="user-chat" ng-repeat="chat in chats">
				<div class="chat-icon-img"><span><img src="content/images/11.jpg" alt=""></span></div>
				<div class="chat-content">
					<div class="chat-content-text">
						<div class="chat-username">
							<span>{{chat.from}}</span>
							<div class="messageview text-right">
								<span class="time">{{time}}</span> 
								<span class="un-seen" ng-if="chat.issent == true">
									<i class="nc-icon-mini ui-1_eye-19"></i>
								</span>
							</div> 
						</div>
						<p>
							{{chat.message}}
						</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>

	<div class="middle-contact-middle send-request" ng-if="selobj.incomingreq == false && selobj.WAITING_APPROVAL == true">
		<div class="send-request-box">
			<p>This person isn't in your Contact list.  |  Telangana, India</p>
			<span class="send-request-btn1">
				<button>
					<span>Contact Request</span>  
					<i class="nc-icon-mini ui-1_check"></i>
				</button>
          	</span>
          	<span class="send-request-btn">
          		<button>Resend Request</button>
          	</span>
		</div>
		<div class="user-chat-area request-sent">
			<h4 class="pad15">TODAY</h4>
			<div class="chat-content-text">
				<div class="pad15">
					<span>Hi {{seluser}}, I'd like to add you as a contact.</span>
					<div class="messageview text-right">
						<span class="time">12:21 AM</span>
						<span class="un-seen">
							<i class="nc-icon-mini ui-1_eye-19"></i>
						</span>
					</div> 
				</div>
			</div>
		</div>
	</div>

	<div class="middle-contact-middle send-request" ng-if="selobj.incomingreq == true && selobj.WAITING_APPROVAL == true">
		<div class="send-request-box send-request-accept">
			<p>{{seluser}}, is not in your contacts</p>
			<p>{{seluser}} would like to add you in TeamR</p>
			<div class="send-request-accept-button">
				<span class="send-request-btn1 pad15">
					<button>
						<a href="" ng-click="acceptcontactreq()"><i class="nc-icon-mini ui-1_check"> </i></a>
						<span>Add to Contacts</span>
						<i class="nc-icon-mini ui-1_simple-remove"></i> 
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="middle-contact-bottom">
		<input type="text" placeholder="enter here" ng-model="message" ng-keypress="sendmessage($event)">
		<a href="" class="attach-file">
			<i class="nc-icon-mini ui-1_attach-86"></i>
		</a> 
		<a href="" class="chatbox-icons" ng-click="sendMessageOnSubmit()">
			<i class="nc-icon-outline emoticons_satisfied"></i> <i class="nc-icon-mini ui-3_send"></i> 
		</a>
	</div>
</div>