<div class="contact" ng-init="chat_init()">
	<div class="sidenav">
		<div class="sidenav-inner" ng-class="{slide_panel:!showmenu,hide_panel:showmenu}">
			<div class="side-bar-search text-center">
				<div class="clearfix"></div>
				<input type="text" placeholder="search">
				<a href="" ng-click="toggleMenu()"><i class="nc-icon-mini ui-1_zoom"></i></a>
			</div>
			<!-- <div class="side-chat-box">
				<div class="clearfix"></div>
				<div class="chatlist">
					<span>Contacts</span>
					<span class="chatlist-right"><a ui-sref="home.chat.addcontact"><i class="nc-icon-mini users_add-29"></i></a></span>
				</div>
			</div> -->

			<div class="side-chat-box">
                <div class="chatlist">
                    <span>Contacts</span>
                </div>
               <div class="addgroup-icons"><div class="chatlist-right"><a ui-sref="home.chat.addcontact"><i class="nc-icon-mini users_add-29"></i></a></div></div>
               <div class="clear"></div>
            </div>
			<div class="main">
				<ul class="nav-list list" mb-scrollbar="scrollbar('vertical', true)">
					<li role="presentation" ng-repeat="contact in contacts" ng-click="getSeluser($index)" ng-class="{active: $index == selected}">
						<a ui-sref="home.chat.chatview({user:contact.USERNAME })">
							<div ng-class="contact.PRESENCE">
								<img src="content/images/01.jpg" class="" alt="">
							</div>
							<span>{{contact.USERNAME}}</span> 
						</a>
						<div class="badge request-pending" ng-show="contact.WAITING_APPROVAL == true"><i class="nc-icon-mini ui-2_alert"></i></div>
              		</li>
				</ul>
			</div>
		</div>
	</div>
	<div ui-view style="height:100%;"></div>
	<div class="middle-right"></div>
</div>