<md-dialog>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Delete Contact</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="content/images/icon_close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div class="del-contact">
			<md-dialog-content>			
					<div class="md-dialog-content">
						<h2>Are you sure you want to delete {{seluser}}?</h2>
						<p>This will permanently remove {{seluser}} from your contacts</p>
					</div>
					<div class="clear"></div>
			</md-dialog-content>
		</div>
		<!-- <md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answer('delete')">
				Delete
			</md-button>
			<md-button ng-click="answer('cancel')" style="margin-right:20px;">
				Cancel
			</md-button>
		</md-dialog-actions> -->
		<div class="buttons">
			<md-button class="teamr-btn" type="button" ng-click="answer('delete')">Delete</md-button>
			<md-button class="teamr-btn teamr-cancel" type="button" teamr-cancel ng-click="answer('cancel')">Cancel </md-button>
			<div class="clear"></div>
		</div>
	</form>
</md-dialog>