<md-dialog class="addMem">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Delete Members from {{selgroup}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="content/images/icon_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="del-members">
      <md-dialog-content>
        <div class="group-remove-list">
            <div class="remove-contact-left">
                <div class="cont-remove" ng-repeat="member in groupmembers" ng-if="member.USERNAME != username">
                    <div class="left"><div class="delete-contact-bg"><img src="content/images/audio-call.jpg" alt=""></div>{{member.USERNAME}} </div>
                    <div class="right" ng-click="addmemtoqueue($index)"><i class="nc-icon-mini ui-1_simple-remove"></i></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>        
      </md-dialog-content>
    </div>

    <div class="buttons">
      <md-button class="teamr-btn" type="button" ng-click="deletemembers()">Ok</md-button>
      <md-button class="teamr-btn teamr-cancel" type="button" teamr-cancel ng-click="cancel()">Cancel </md-button>
      <div class="clear"></div>
    </div>
</md-dialog>