<md-dialog class="">
    <form>
        <div class="blo-contact">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <!-- <h2>File you are trying to upload is too large. Max limit is 100kb</h2> -->
                    <h2>{{errorMsg}}</h2>
                </div>
            </md-dialog-content>
        </div>
        <div class="buttons">
            <md-button class="teamr-btn teamr-cancel" type="button" teamr-cancel ng-click="cancel()">ok</md-button>
            <div class="clear"></div>
        </div>
    </form>
</md-dialog>