<div class="contact" ng-init="groupsinit()">
	<div class="sidenav">
		<div class="sidenav-inner" ng-class="{slide_panel:!showmenu,hide_panel:showmenu}">
			<div class="side-bar-search text-center">
				<div class="clearfix"></div>
				<input type="text">
				<a href=""><i class="nc-icon-mini ui-1_zoom"></i></a>
			</div>
			<div class="side-chat-box">
                <div class="chatlist">
                    <span>Groups</span>
                </div>
                <div class="addgroup-icons">
                    <span class="chatlist-right">                        
                        <a href="" ng-click="searchgroup($event)"><img src="../content/images/group-icon1.png" alt=""></a>
                    </span>
                    <span class="chatlist-right">
                       <a href="" ng-click="creategroup($event)"><img src="../content/images/group-icon2.png" alt=""></a>
                   </span> 
                </div>
                <div class="clear"></div>
            </div>
			<div class="main">
				<ul class="nav-list list" mb-scrollbar="scrollbar('vertical', true)">
					<li role="presentation" class="" ng-repeat="group in groups" ng-click="getSelgroup($index)">
						<a ui-sref="home.groupchat.groupchatview({group:group.NAME })">
							<img src="content/images/01.jpg" alt="" class="offline">
							<span>{{group.NAME}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ui-view style="height:100%;"></div>
	<div class="middle-right"></div>
</div>