<div class="middle-contact padt50" ng-class="{slide:!showmenu,close:showmenu}" ng-init="groupchatinit()">
    <div class="file_progress">
        <div class="progressbar-bg" ng-show="showprogress == true">
            <div id="progressBar" class="progressbar" max="100">
                <div class="progressbartext"><span>{{filename}}</span></div>
                <!-- <div class="progressbarpercent"><span>{{progresspercent}}%</span></div> -->
            </div>
            <div class="progressbarclose" ng-click="cancelFileUpload(event)"><span>x</span></div>
        </div>
    </div>
    <div class="middle-contact-inner">
        <div class="middle-contact-top">
            <div class="middle-contact-left"> 
                <span class="user-img1 online">
                <img src="content/images/01.jpg"></span> 
                <span class="name-wrap">{{selgroup}}</span> 
            </div>
            <!-- <div class="middle-contact-right">
                <div class="group-chat">
                    <ul>
                        <li class="group-user-online" ng-repeat="member in groupmembers"><a href=""><img src="content/images/admin2.png" alt="homepageimg1"></a><md-tooltip md-direction="bottom"> {{member.USERNAME}} </md-tooltip></li>
                    </ul>
                </div>
            </div> -->
            <div class="call-icons add-group">
                <ul>
                    <li ng-if="selgroupobj.ADMIN == true"><a href="" ng-click="addmemberstogroup($event)"><md-tooltip md-direction="bottom">Add members</md-tooltip><i class="nc-icon-mini ui-1_simple-add"></i></a></li>
                    <li><a href="" class="phn-icon-bg"><md-tooltip md-direction="bottom">Audio call</md-tooltip><i class="nc-icon-mini ui-3_phone"></i></a></li>
                    <li><a href="" class="video-icon-bg"><md-tooltip md-direction="bottom">Video call</md-tooltip><i class="nc-icon-mini media-1_video-64"></i></a></li>
                    <li>
                    <md-menu-bar>
                        <md-menu ng-show="showmoreoptions">
                            <md-button aria-label="Sample Menu" class="md-icon-button user-name" ng-click="$mdOpenMenu($event)">
                                <md-icon md-menu-origin> <a href=""><i class="nc-icon-mini ui-2_menu-dots"></i></a></md-icon>
                            </md-button>
                            <md-menu-content class="teamr-dropdown">
                                <!-- <md-menu-item>
                                    <md-button>
                                        <div layout="row">
                                            <p flex>Group Members</p>
                                        </div>
                                    </md-button>
                                </md-menu-item> -->
                                <md-menu-item ng-if="selgroupobj.ADMIN == true">
                                    <md-button ng-click="delmemberstogroup($event)">
                                        
                                            Delete Members
                                       
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="exitgroup($event)">
                                        
                                            Exit Group
                                        
                                    </md-button>
                                </md-menu-item>
                                <!-- <md-menu-item>
                                    <md-button>
                                        <div layout="row">
                                            <p flex>Delete Group</p>
                                        </div>
                                    </md-button>
                                </md-menu-item> -->
                            </md-menu-content>
                        </md-menu>
                        </md-menu-bar>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>      
    <div class="middle-contact-middle" scroll-glue chatmessagestatus=chatMessageStatus callback-fn="getgrouphistory()" topmiddleindex=topMiddleIndex>
        <div class="page-loader" ng-if="showSpinner==true">
            <div class="page-animate"><img src="../content/images/loader-logo.png" alt="" /> </div>
        </div>
        <div class="chat-area" ng-repeat="chats in groupdate| orderBy:'timestamp' ">
            <h4>{{chats.date}}</h4>
            <div ng-class="chat.class" ng-repeat="chat in (chattings=(chats.chats | orderBy:'timestamp'))    ">
                <div class="chat-icon-img" ng-if="chat.username != chattings[$index-1].username">
                    <span><img src="../content/images/01.jpg"></span>
                </div>
                <div class="chat-content">
                    <div class="chat-content-text">
                        <div class="chat-username" ng-if="chat.username != chattings[$index-1].username">
                            <div>
                                <span class="chat-head">{{chat.username}}</span>
                            </div>
                            <div class="chat-time-left">
                                <span class="time">{{chat.time}}</span>
                            </div>
                        </div>
                        <div class="chat-message" ng-if="chat.filetransfer == false">
                            <pre><p class="chat-message-text">{{chat.message}}</p></pre>
                            <div class="chat-time-display" ng-if="chat.username == chattings[$index-1].username">
                                <span class="time">{{chat.time.split(' ')[0]}}</span>
                            </div>
                        </div>                            
                        <div class="video-download" ng-if="chat.filetransfer == true">
                            <ul class="video-img">
                                <li ng-if="chat.audio == true">
                                    <div class="send-images">
                                        <div class="chat-data">
                                            <img src="content/images/nature1.jpg" alt="" />
                                            <div class="video-icon">
                                                <a href="" class="button" ng-click="audioplayer(chat.message, $event)"><i class="nc-icon-mini arrows-1_triangle-right-17"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li ng-if="chat.video == true">
                                    <div class="send-images">
                                        <div class="chat-data">
                                            <img src="content/images/nature1.jpg" alt="" />
                                            <div class="video-icon">
                                                <a href="" class="button" ng-click="videplayer(chat.message, $event)"><i class="nc-icon-mini arrows-1_triangle-right-17"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li ng-if="chat.audio == false && chat.video == false"><a href=""><img src="content/images/text.png" alt="mp3"></a></li>
                            </ul>
                            <div class="progress-status">
                                <a href="" class="download-btn" ng-click="download(chat.message)">
                                    <i class="nc-icon-mini arrows-2_hit-down"></i>
                                </a>
                            </div>
                            <div class="clear"></div>
                            <div class="loading-status">
                                <p>{{chat.filename}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="clear"></div>
        <div class="middle-contact-bottom" ng-if="(selgroupobj.TYPE == 'unicast' && selgroupobj.ADMIN == true) || selgroupobj.TYPE == 'multicast'">
            <div class="bottom-fix">
                <div class="attach-file">
                    <a href="" ng-click="uploadfile()">
                        <i class="nc-icon-mini ui-1_attach-86"></i>
                    </a>
                </div>
                <div class="chatbox-icons">
                    <a href=""><i class="nc-icon-outline emoticons_satisfied"></i> </a>
                </div>
                <div class="chatbox-icons chatbox-icons1"><a href="" ng-click="sendgroupmessage()"><i class="nc-icon-mini ui-3_send"></i></a></div>             
                <div class="chat-input">
                    <textarea id="gMessage" class="msd-elastic" ng-init="focusChatBox()" placeholder="Type your message here"    ng-model="message" ng-blur="sessionStorageMessage()" ng-keypress="sendgroupMessageOnSubmit($event)" ng-keyup="notifyTyping();" ng-disabled="isblock || !netConnectionStat"></textarea>
                </div>              
                <input type="file" id="choose" multiple=true class="file-loading" style="display:none;">
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="middle-right">
    <div class="select-options">
        <div class="dropdown"> 
            <i class="nc-icon-mini ui-2_menu-dots dropbtn" ng-click="myFunction()"></i>
            <div id="myDropdown" class="dropdown-content"> 
                <a href="" ng-click="allfiles(); isMember = false;">All Files</a> 
                <a href="" ng-click="isMember = true;">Group Members</a> 
            </div>
        </div>
    </div>
    <div class="files-upload-panel" id="allfiles">        
        <div class="upload-files" ng-if="isMember == false">
            <div class="right-heading">
                <h4>All Your files </h4>
                <div class="select-options">
                <div class="dropdown"> 
                        <i class="nc-icon-mini ui-2_menu-dots dropbtn" ng-click="myFunction()"></i>
                        <div id="myDropdown" class="dropdown-content"> 
                            <a href="" ng-click="allfiles(); isMember = false;">All Files</a> 
                            <a href="" ng-click="isMember = true;">Group Members</a> 
                        </div>
                </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="recently-files" ng-repeat="file in files" ng-click="readfile(file)">
               <div class="file-img" ng-class="(file.ext == 'pdf')?'filetype-pdf':(file.ext == 'rar')?'filetype-rar':(file.ext == 'zip')?'filetype-zip':(file.audio == true)? 'filetype-mp3':(file.ext == 'txt')?'filetype-text':'filetype-unknown'">
                   <img ng-if="file.ext == 'pdf'" src="../content/images/pdf.png"  alt=""/>
                   <img ng-if="file.ext == 'rar'" src="../content/images/rar.png" alt=""/>
                   <img ng-if="file.ext == 'zip'" src="../content/images/zip-file.png" alt=""/>
                   <img ng-if="file.ext == 'txt'" src="../content/images/text.png" alt=""/>
                   <img ng-if="file.audio == true" src="../content/images/mp3.png" alt=""/>
                   <img ng-if="file.video == true" src="../content/images/nature1.jpg" alt=""/>
                   <img ng-if="file.media == false && file.audio == false && file.video == false   && file.ext != 'pdf' && file.ext != 'rar' && file.ext != 'zip' && file.ext != 'txt' " src="../content/images/unknown_white.png" alt=""/>
                   <img ng-if="file.media == true" src="../content/images/audio-call.jpg" alt=""/>
               </div>
                <div class="file-details">
                    <span>{{file.created_by}}</span>
                    <h4>{{file.file_name}}</h4>
                    <span> {{file.date}} at {{file.time}}</span>
               </div> 
               <div class="clear"></div>
           </div>
        </div>
        <div class="group-members-panel" id="groupMember" ng-class="{rightviewshow:!filemenu,rightviewhide:filemenu}" ng-if="isMember">
            <div class="right-heading">
                <h4>Group Members</h4>
                <!-- <span ng-click="closeWindow()"><i class="nc-icon-outline ui-1_simple-remove"></i></span> -->
                <div class="select-options">
                    <div class="dropdown"> <i class="nc-icon-mini ui-2_menu-dots dropbtn" ng-click="myFunction()"></i>
                        <div id="myDropdown" class="dropdown-content"> <a href="" ng-click="allfiles()">All Files</a><a href="">Group Members</a></div>
                   </div>
                 </div>
                <div class="clear"></div>
            </div>
            <div class="group-members" ng-if="isMember">
                <ul>
                    <li role="presentation" class="ng-scope" ng-repeat="member in groupmembers"> 
                        <a href=""> <img src="../content/images/01.jpg" class="online" alt=""> 
                            <span>{{member.USERNAME}}</span> 
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>