<div class="wrapper" ng-init="home_init()">
	<header>
		<div class="main-top">
			<div class="top-left">
				<a href="" ng-click="redirectochat()"><figure><img src="content/images/logo-home.png" alt="logo"> </figure></a>
				<a href="javascript:void(0)" class="left-btn" ng-click="toggleMenu()">
        			<md-button class="md-icon-button md-button md-ink-ripple"> 
        				<i class="nc-icon-mini ui-2_menu-34"></i> 
        			</md-button>
        		</a>
			</div>
			<div class="top-middle">
				<ul>
					<li ng-click="setselected(0)">
						<md-button>
							<a ui-sref="home.callphones">
								<span ng-class="{active: topMiddleIndex == 0}">
									<i class="nc-icon-mini ui-3_phone top-icon"></i>CALL PHONES
								</span>
							</a>
						</md-button>
					</li>
					<li ng-click="setselected(1)"> 
						<md-button>
							<a ui-sref="home.chat">
								<span ng-class="{active: topMiddleIndex == 1}">
									<i class="nc-icon-mini ui-2_chat-round top-icon"></i>CHAT
								</span>
							</a>
						</md-button>
					</li>
					<li ng-click="setselected(2)">
						<md-button>
							<a ui-sref="home.groupchat">
								<span ng-class="{active: topMiddleIndex == 2}">
									<i class="nc-icon-mini users_multiple-11 top-icon"></i>GROUP CHAT
								</span>
							</a>
						</md-button>
					</li>
					<li ng-click="setselected(3)">
						<md-button>
							<a ui-sref="home.broadcast">
								<span ng-class="{active: topMiddleIndex == 3}">
									<i class="nc-icon-mini ui-3_signal top-icon"></i>BROADCAST
								</span>
							</a>
						</md-button>
					</li>
				</ul>
			</div>
			<div class="top-right">
				<div class="user-details">
					<md-menu>
                       <div aria-label="Sample Menu" class="md-icon-button user-details" ng-click="$mdOpenMenu($event)">
                      <span id="userstatus" class="user-img online"><img src="content/images/audio-call-1.jpg"></span>
                       <md-icon class="user-icon-status"><i class="nc-icon-mini arrows-1_small-triangle-down"></i></md-icon>
                           
                       </div>
                       <md-menu-content class="dropdown-menu user-inner">
                           <md-menu-item class="user-status user-online" ng-click="setStatus('online')">
                               <md-button ng-click="ctrl.menuItemClick($index)">
                              <span class="user-icons"></span>
                               <span class="user-icons-name ">Online</span>
                               </md-button>
                           </md-menu-item>
                          <md-menu-item class="user-status user-away" ng-click="setStatus('warning')">
                               <md-button ng-click="ctrl.menuItemClick($index)">
                              <span class="user-icons away1"></span>
                               <span class="user-icons-name "> Away</span>
                               </md-button>
                           </md-menu-item>
                           <md-menu-item class="user-status user-offline" ng-click="setStatus('busy')">
                               <md-button ng-click="ctrl.menuItemClick($index)">
                              <span class="user-icons offline1"></span>
                               <span class="user-icons-name "> Busy</span>
                               </md-button>
                           </md-menu-item>
                          <md-menu-item class="user-status user-invisible" ng-click="setStatus('offline')">
                               <md-button ng-click="ctrl.menuItemClick($index)">
                              <span class="user-icons invisible1"></span>
                               <span class="user-icons-name"> Offline</span>
                               </md-button>
                           </md-menu-item>
                          <md-menu-item class="user-status user-invisible" ng-click="setStatus('offline')">
                               <md-button ng-click="ctrl.menuItemClick($index)">
                              <span class="user-icons invisible1"></span>
                               <span class="user-icons-name "> Invisible</span>
                               </md-button>
                           </md-menu-item>
                       </md-menu-content>
                   </md-menu>
					<md-menu>
						<div aria-label="Sample Menu" class="md-icon-button user-name" ng-click="$mdOpenMenu($event)">
							<md-icon md-menu-origin>{{userdetails.username}}<i class="nc-icon-mini arrows-1_small-triangle-down"></i></md-icon>
						</div>
						<md-menu-content class="menu-dropdown">
							<md-menu-item>
								<md-button ng-click="ctrl.menuItemClick($index)">
									<div layout="row">
										<p flex>Profile</p>
									</div>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button>
									<div layout="row">
										<p flex>Change Password</p>
									</div>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="logout()">
									<div layout="row">
										<p flex>Sign out</p>
									</div>
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
      		</div>
		</div>
	</header>
	<section>
		<div ui-view style="height:100%;"></div>
	</section>
</div>