<!-- <div class="video">
	<audio id="myAudio" autoplay controls></audio>
</div> -->

<!-- <audio id="music" preload="true" autoplay>
	<source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
	<source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
</audio>
<div id="audioplayer">
	<button id="pButton" class="play" onclick="play()"></button>
	<div id="timeline">    
		<div id="playhead"></div>
	</div>
</div> -->

<!-- <div class="audio-play">
	<div class="audio-settings">
		<div class="audio-img">
			<div class="audio-content">
				<div class="audio-content-left">
					<p>Big Sean(Finally Famous-Deluxe)</p>
					<span>Memories Part II</span> 
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="audio-buttons">
			<div class="play-pause buttonHolder">
				<a href="" ng-click="play()" class="button tick">
					<i class="nc-icon-mini media-1_button-play" ng-if="isplay == false"></i>
					<i class="nc-icon-mini media-1_button-pause" ng-if="isplay == true"></i>
				</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="audioplay-buttons">
	<div class="audio-play-time">

	<div class="audio-timeline" id="timeline">
		<div class="audio-running" id="running"></div>
		<div class="audio-load-icon" id="playhead"></div>
		<audio id="myAudio" preload="auto"></audio>
		<div class="play-pause">
		<p class="play"></p>
		<p class="pause"></p>
		<p class="loading"></p>
		<p class="error"></p>
		</div>
		<div class="scrubber">
		<div class="audioprogress" style="width: 0px;"></div>
		<div class="loaded" style="width: 231.406px;"></div>
		</div>
		</div>

		<div class="audio-time">{{duration}}</div>
		<div class="shuffle-icon"><i class="nc-icon-mini arrows-1_shuffle-98"></i></div>
		<div class="refresh-icon"><i class="nc-icon-mini arrows-e_refresh-20"></i></div>
		<div class="clear"></div>
		</div>
		<div class="audio-volume">
		<div class="volume">
		<ul>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		</ul>
		</div>
		<div class="speaker"><i class="nc-icon-mini media-1_volume-97"></i></div>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div> -->
<md-dialog>
	<audio id="myAudio" preload="auto" autoplay></audio>
</md-dialog>