<!-- <md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{filename}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancle()">
				<md-icon md-svg-src="content/images/icon_close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div class="video">
				<video id="myVideo" src="http://vjs.zencdn.net/v/oceans.mp4" autoplay controls></video>
			</div>
		</div>
		<div class="clear"></div>
	</md-dialog-content>
</md-dialog> -->
<md-dialog>
	<div>
		<video id="my_video_1" class="video-js vjs-sublime-skin" preload="none" data-setup='{ "playbackRates": [1, 1.5, 2] }'>
		</video>
	</div>

</md-dialog>