<div class="vedio-call-image" ng-class="{maximum:showmax,minimum:!showmax}" ng-init="video_init()">
	<div class="vedio-full-width">
		<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D" ng-click="fullWidth()"><i class="nc-icon-mini arrows-1_fullscreen-double-75"></i></a>
	</div>
	<div class="user-vedio-image"> 
		<video id="localvideo" autoplay></video>
	</div>
	<div id="remotevideo" class="video-user">
		<!-- <video id="remotevideo" autoplay></video> -->
		<!-- <video autoplay src="" controls></video> -->
	</div>
	<div class="calling-time">
		<div class="vedio-call-bottom">
			<div class="vedio-call-duration"> Charles Morgan </div>
			<div class="vedio-icon-option">
				<ul>
					<li>
						<a href="javascript:void(0)" ng-click="toggleMenu()"> <i class="nc-icon-mini ui-2_menu-34"></i></a> 
					</li>
					<li>
						<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D" ng-click="callmax()"><i class="nc-icon-mini ui-2_chat-round-content"></i></a>
					</li>
					<li>
						<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D"><i class="nc-icon-mini media-1_video-67"></i></a>
					</li>
					<li>
						<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D"><i class="nc-icon-mini media-2_headphones"></i></a>
					</li>
					<li>
						<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D"><i class="nc-icon-mini ui-1_simple-add"></i></a>
					</li>
					<li>
						<a href="" ng-click="close()"><i class="nc-icon-mini ui-3_phone"></i></a>
					</li>
				</ul>
			</div>
			<div class="vedio-call-option"><span>00:12:34</span></div>
		</div>
		<div class="calling-page-expand">
			<a href="https://scocu-production-s3file.s3.amazonaws.com/4e3b6a5f1f560a3ccd76529cdbbb4434bd5cf38b?AWSAccessKeyId=AKIAIJCLK3CAGNLY4CYA&amp;Expires=1470400068&amp;Signature=nMqu6lqgvJTmJBICWdfMtXEvWbc%3D" ng-click="callmax()"><i class="nc-icon-mini arrows-1_minimal-down"></i></a>
		</div>
	</div>
</div>