@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);

@media only screen and (min-width:1367px) and (max-width:1920px) {
.middle-contact-middle {
	height: 84%;
	overflow: auto;
	width: 100%;
}
}
@media only screen and (min-width:1280px) and (max-width: 1365px) {
	.user-inner {
    right:68px;
}
.menu-dropdown.menu-options {
    right: 222px;
}
.middle-contact-right {
    width: 48%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
.top-middle ul li a span {
	padding: 5.8px 32px !important;
}
.top-middle {
	width: 64.2%;
}
.top-left {
	width: 18.9%;
}
.top-right {
	width: 15%;
}
.sidenav-inner {
	width: 19%;
}
.middle-contact.slide {
	margin-left: 18.9%;
	
	width: 63%;
}
}

@media only screen and (min-width: 1024px) and (max-width:1279px) {
.user-inner {
	right: 36px;
}
.sidenav .nav-list li a {
	padding: 4px 4px 4px 11px;
}
.menu-dropdown.menu-options {
    right: 177px;
}
.menu-options::before {
    right: 24px;
} 
.chatlist a {
    margin-right: -14px;
}
.hide_panel .nav-list li a:hover span {
    margin: 0 2px;
}
.middle-contact-right {
    width: 42%;
}
.call-icons {
    padding-top: 1px;
    width: 20%;
}
.middle-contact-middle.add-group .add-contact-search > input {
    width: 80%;
}
.add-contact-search.addmembersearch i {
    margin-right: 2px;
}
.added-contact-left .added-contact-bg {
    padding: 0px;
    margin: 0 5px 0 5px;
}
.add-group .added-contact-right {
    margin-right: 4%;
}
.side-bar-search input {
    width: 79%;
}
.hide_panel .side-bar-search {
    padding: 0 6px;
}
.cgroup {
    width: 40%;
    min-height: 80%;
}
.top-middle {
    width: 64.3%;
}
.top-right {
    width: 15%;
}
.tr-logo {
    left: 18%;
}
.user-login-page {
    right:18%;
}
.chat-input {
    width: 88%;
}
.hide_panel .chatlist {
    padding: 0px 11px 0 14px;
}
}
@media only screen and (min-width:980px) and (max-width:1023px) {
.top-middle {
width: 64.1%;
}
.user-inner {
    right: 25px;
    width: 160px;
    z-index: 99;
}
.menu-dropdown.menu-options {
    right: 168px;
}
.menu-dropdown {
    right: -8px;
    top: 42px;
    width: 142px;
}
.hide_panel {
    left: -14.5%;
}
.sidenav .nav-list li a {
    padding: 4px 4px 4px 8px;
}

.hide_panel .nav-list li a:hover span {
    margin: 0 6px;
}
.middle-contact.close {
    margin-left: 4.3%;

}
.chat-input {
    float: left;
    width: 85%;
}
	.user-details .md-menu {
    margin: -5px 0px;
}
.user-details {
    margin-left: 0;
}
.userdeta {
    max-width: 89px !important;
}
.middle-contact-middle.add-group .add-contact-search > input {
    width: 80%;
}
.add-contact-search.addmembersearch i {
    margin-right: 2px;
}
.added-contact-left .added-contact-bg {
    padding: 0px;
    margin: 0 5px 0 5px;
}
.add-group .added-contact-right {
    margin-right: 1%;
}
.side-bar-search input {
    width: 78%;

}
.cgroup {
    width: 40%;
    min-height: 80%;
}
.tr-logo{
    left:18%;
}
.user-login-page {
    right:18%;
}
.call-icons {
    width: 19%;

}
.middle-contact-right {
    width: 41%;
}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {

.top-middle ul li a span {
    padding: 5.8px 11px !important;
}
.top-left {
    width: 21%;
}

.top-right {
    float: left;
    padding-right: 12px;
    width: 17%;
    margin-left: 5%;
}
.top-middle {
    width: 48%;
}
.user-details {
	padding:2px 0 0 0;
}

.sidenav-inner {
    width: 21%;
}
.sidenav .nav-list li a {
    padding: 4px 2px 4px 6px;
}

.middle-contact.slide {
    margin-left: 20.8%;
}
/*.nav-list span {
	width: 52% !important;
}*/
.call-icons {
	float: right;
	padding-top: 1px;
	text-align: right;
	width: 26%;
}
.side-bar-search {
    padding: 0 14px;
}
.side-bar-search a {
	float: right;
	margin: 0;
}
.middle-contact.close {
	margin-left: -8.8%;
	width: 78.6%;
}
.side-bar-search input {
	width: 79%;
}
.left-btn {
	margin: 5px -8px 0 0;
}
.chat-user i {
	margin-right: -5px;
}
.user-inner {
    right:50px;
    top:42px;
    width: 160px;
}

.add-contact-search > input {
    width: 85%;
}
.menu-dropdown {
    right: 0px;
    width: 148px;
}
.menu-dropdown.menu-options {
    right: 109px;
}
.bottom-fix {
    margin-left:7.5% !important;
    margin-top: 0.8%;
    width: 91.7%;
}
.chat-input {
    float: left;
    width: 85%;
}
.middle-contact-bottom input {
    width: 85%;
}
.chatbox-icons {
    margin-right: 21px;
    margin-top: 9px;
}

.middle-contact.close {
    margin-left: 5.2%;
}


.hide_panel .nav-list li a:hover span {
    margin: 0 5px;
}
	.user-details .md-menu {
    margin: -5px 0px;
}
.user-details {
    margin-left: 0;
}
.userdeta {
    max-width: 89px !important;
}
.cgroup {
    width: 52%;
}
md-dialog {
    min-width:auto !important;
	min-height:auto !important;
}
.tr-logo {
    left: 10%
}
.user-login-page {
    right: 10%;
}
.middle-contact-middle.add-group .add-contact-search > input {
    width: 77%;
}
.added-contact-left {

    width: 82%;

}
.added-contact-left .added-contact-bg {
    margin: 0 5px 0 5px;

}
.added-contact-left > p:nth-child(3) {
    width: 62%;
}
.md-toolbar-tools h2 {
    font-size: 19px;
}
.middle-contact-left {
    width: 20%;
}
.group-chat li {
    margin-left: 5px;
}
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
	.call-icons {
    width: 27%;
}
.middle-contact-right {
    width: 40%;
}
}

@media only screen and (min-width: 769px) and (max-width: 979px) {
}
