@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);

@media only screen and (min-width:1601px) and (max-width:1920px) {
.middle-contact-middle {
	height: 84%;
	overflow: auto;
	width: 100%;
}
.menu-dropdown.menu-options {
	right: 342px;
}
}

@media only screen and (min-width:1440px) and (max-width:1600px) {
.menu-dropdown.menu-options {
	right: 252px;
}
}

@media only screen and (min-width:1367px) and (max-width:1439px) {
.middle-contact-middle {
	height: 84%;
	overflow: auto;
	width: 100%;
}
.menu-dropdown.menu-options {
	right: 281px;
}
}

@media only screen and (min-width:1280px) and (max-width: 1365px) {
.user-inner {
	right: 68px;
}
.menu-dropdown.menu-options {
	right: 222px;
}
.middle-contact-right {
	width: 48%;
}
.top-menubar .communication li:last-child {
	display: none;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
.top-middle ul li a span {
	padding: 5.8px 32px !important;
}
.top-middle {
	width: 64.2%;
}
.top-left {
	width: 18.9%;
}
.top-right {
	width: 15%;
}
.sidenav-inner {
	width: 19%;
}
.middle-contact.slide {
	margin-left: 18.9%;
	width: 63%;
}
}

@media only screen and (min-width: 1024px) and (max-width:1279px) {
/*new-layout-css-responsive*/
.side-nav-main .online, .side-nav-main .offline, .side-nav-main .busy, .side-nav-main .warning {
	margin-top: 5px !important;
}
.contact .sidenav .nav-list li {
	line-height: 20px;
}
.teamr-dropdown::before {
	right: 10px !important;
}
.cgroup {
	width: 55% !important;
}
.middle-contact .call-icons {
	width: 22%;
}
.middle-contact .middle-contact-bottom {
	left: 20.8%;
}
.middle-contact.close {
	margin-left: 4% !important;
	width: 68% !important;
}
.middle-contact-right {
	width: 40%;
}
.top-right {
	float: right;
	width: 18%;
}
.middle-contact.close .middle-contact-bottom {
	left: 5.5% !important;
}
.top-menubar .search {
	width: 40% !important;
}
.top-menubar .search .search-input input {
	padding: 10px;
	width: 89%;
}
.top-menubar .search .search-icon {
	right: 11px !important;
	top: 12px !important;
}
.top-menubar .communication {
	width: 26% !important;
	padding: 7px 0 !important;
}
.top-menubar .admin {
	width: 18%;
}
.top-menubar #wrapper li {
	padding: 11.3px 8.8px;
}
.top-menubar #wrapper li.none {
	display: none;
}
.contact .sidenav-inner {
	width: 20%;
}
.contact .hide_panel {
	transition: all 0.2s ease;
	left: -15.9%;
	top: 75px;
}
.contact .middle-contact.slide {
	margin-left: 20%;
}
.contact .middle-right {
	width: 28%;
}
.contact .search .left-btn {
	position: absolute;
	right: 14px;
	color: #a8b6c3;
}
.contact .hide_panel .hide-icon {
	margin-right: 5px;
}
.contact .sidenav .nav-list li a {
	width: 93%;
}
.contact .hide_panel .search .left-btn {
	right: -5px;
}
.middle-contact .middle-contact-left {
	width: 60%;
}
.right-heading {
	padding: 7px 7px 7px 13px !important;
}
.user-inner {
	right: 36px;
}
.sidenav .nav-list li a {
	padding: 4px 4px 4px 11px;
}
.hide_panel .nav-list li a {
	padding: 0px 4px 0px 12px;
}
.menu-dropdown.menu-options {
	right: 177px;
}
.menu-options::before {
	right: 24px;
}
.chatlist a {
	margin-right: -14px;
}
.hide_panel .nav-list li a:hover span {
	margin: 0 2px;
}
.middle-contact-right {
	width: 42%;
}
.call-icons {
	padding-top: 1px;
	width: 20%;
}
.middle-contact-middle.add-group .add-contact-search > input {
	width: 80%;
}
.add-contact-search.addmembersearch i {
	margin-right: 2px;
}
.added-contact-left .added-contact-bg {
	padding: 0px;
	margin: 0 5px 0 5px;
}
.add-group .added-contact-right {
	margin-right: 4%;
}
.side-bar-search input {
	width: 79%;
}
.hide_panel .side-bar-search input {
	width: 0px;
}
.hide_panel .side-bar-search {
	padding: 0 6px;
}
.cgroup {
	width: 40%;
	min-height: 80%;
}
.top-middle {
	width: 64.3%;
}
.top-right {
	width: 15%;
}
.tr-logo {
	left: 18%;
}
.user-login-page {
	right: 18%;
}
.chat-input {
	width: 88%;
}
.hide_panel .chatlist {
	padding: 0px 11px 0 14px;
}
.addgroup-icons {
	margin-right: 13px;
}
.menu-dropdown {
	right: 0px
}
.hide_panel .addgroup-icons {
	margin-right: 7px;
}
}

@media only screen and (min-width:980px) and (max-width:1023px) {
.top-middle {
	width: 64.1%;
}
.user-inner {
	right: 25px;
	width: 160px;
	z-index: 99;
}
.menu-dropdown.menu-options {
	right: 159px;
}
.menu-dropdown {
	right: -8px;
	top: 42px;
	width: 142px;
}
.hide_panel {
	left: -14.5%;
}
.sidenav .nav-list li a {
	padding: 4px 4px 4px 8px;
}
.hide_panel .nav-list li a {
	padding: 0px 4px 0px 8px;
}
.hide_panel .nav-list li a:hover span {
	margin: 0 6px;
}
.middle-contact.close {
	margin-left: 4.3%;
}
.chat-input {
	float: left;
	width: 85%;
}
.user-details .md-menu {
	margin: -5px 0px;
}
.user-details {
	margin-left: 0;
}
.userdeta {
	max-width: 89px !important;
}
.middle-contact-middle.add-group .add-contact-search > input {
	width: 80%;
}
.add-contact-search.addmembersearch i {
	margin-right: 2px;
}
.added-contact-left .added-contact-bg {
	padding: 0px;
	margin: 0 5px 0 5px;
}
.add-group .added-contact-right {
	margin-right: 1%;
}
.side-bar-search input {
	width: 78%;
}
.hide_panel .side-bar-search input {
	width: 0px;
}
.cgroup {
	width: 45%;
	min-height: 80%;
}
.tr-logo {
	left: 18%;
}
.user-login-page {
	right: 18%;
}
.call-icons {
	width: 19%;
}
.middle-contact-right {
	width: 41%;
}
.hide_panel .addgroup-icons {
	margin-right: 10px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
.top-middle ul li a span {
	padding: 5.8px 11px !important;
}
.top-left {
	width: 21%;
}
.top-right {
	float: left;
	padding-right: 12px;
	width: 17%;
	margin-left: 5%;
}
.top-middle {
	width: 48%;
}
.user-details {
	padding: 2px 0 0 0;
}
.sidenav .nav-list li a {
	padding: 4px 2px 4px 6px;
}
.hide_panel .nav-list li a {
	padding: 0px 4px 0px 6px;
}
/*.nav-list span {
    width: 52% !important;
}*/
.call-icons {
	float: right;
	padding-top: 1px;
	text-align: right;
	width: 26%;
}
.side-bar-search {
	padding: 0 14px;
}
.side-bar-search a {
	float: right;
	margin: 0;
}
.middle-contact.close {
	margin-left: -8.8%;
	width: 78.6%;
}
.hide_panel .side-bar-search input {
	width: 0px;
}
.side-bar-search input {
	width: 79%;
}
.chat-user i {
	margin-right: -5px;
}
.user-inner {
	right: 50px;
	top: 42px;
	width: 160px;
}
.add-contact-search > input {
	width: 85%;
}
.menu-dropdown {
	right: 0px
}
.menu-dropdown.menu-options {
	right: 116px;
}
.bottom-fix {
	margin-left: 7.5% !important;
	margin-top: 0.8%;
	width: 91.7%;
}
.chat-input {
	float: left;
	width: 85%;
}
.middle-contact-bottom textarea {
	width: 85%;
}
.chatbox-icons {
}
.hide_panel .nav-list li a:hover span {
	margin: 0px 5px;
	padding: 13px;
}
.user-details .md-menu {
	margin: -5px 0px;
}
.user-details {
	margin-left: 0;
}
.userdeta {
	max-width: 89px !important;
}
.cgroup {
	width: 60% !important;
}
md-dialog {
	min-width: auto !important;
	min-height: auto !important;
}
.tr-logo {
	left: 10%
}
.user-login-page {
	right: 10%;
}
.middle-contact-middle.add-group .add-contact-search > input {
	width: 77%;
}
.added-contact-left {
	width: 82%;
}
.added-contact-left .added-contact-bg {
	margin: 0 5px 0 5px;
}
.added-contact-left > p:nth-child(3) {
	width: 62%;
}
.md-toolbar-tools h2 {
	font-size: 19px;
}
.group-chat li {
	margin-left: 5px;
}
.hide_panel .addgroup-icons {
	margin-right: 9px;
}
.addgroup-icons {
	margin-right: 9px;
}
.top-middle ul li a {
	font-size: 10px;
}
/*new-layout-css-responsive*/
.side-nav-main .online, .side-nav-main .offline, .side-nav-main .busy, .side-nav-main .warning {
	margin-top: 5px !important;
}
.contact .sidenav .nav-list li {
	line-height: 20px;
}
.teamr-dropdown::before {
	right: 10px !important;
}
.middle-contact .call-icons {
	width: 22%;
}
.middle-contact .middle-contact-bottom {
	left: 20.8%;
}
.middle-contact.close {
	margin-left: 4% !important;
	width: 68% !important;
}
.middle-contact-right {
	width: 40%;
}
.top-right {
	float: right;
	width: 18%;
}
.middle-contact.close .middle-contact-bottom {
	left: 5.5% !important;
}
.top-menubar .search {
	width: 30% !important;
}
.top-menubar .search .search-input input {
	padding: 10px;
	width: 84%;
}
.top-menubar .search .search-icon {
	right: 11px !important;
	top: 12px !important;
}
.top-menubar .communication {
	width: 33% !important;
	padding: 7px 0 !important;
}
.top-menubar .admin {
	width: 20%;
}
.top-menubar #wrapper li {
	padding: 11.3px 8.8px;
}
.top-menubar #wrapper li.none {
	display: none;
}
.contact .sidenav-inner {
	width: 20%;
}
.contact .hide_panel {
	transition: all 0.2s ease;
	left: -15.9%;
	top: 75px;
}
.contact .middle-contact.slide {
	margin-left: 20%;
}
.contact .middle-right {
	width: 28%;
}
.contact .search .left-btn {
	position: absolute;
	right: 0px;
	color: #a8b6c3;
}
.contact .hide_panel .hide-icon {
	margin-right: 5px;
}
.contact .sidenav .nav-list li a {
	width: 93%;
}
.contact .hide_panel .search .left-btn {
	right: -5px;
}
.middle-contact .middle-contact-left {
	width: 60%;
}
.right-heading {
	padding: 7px 7px 7px 13px !important;
}
}

@media only screen and (min-width:768px) and (max-width:979px) {
.top-menubar #wrapper li {
	padding: 11.3px 6.8px;
}
.top-middle #wrapper li i{
	font-size:9px;
}
}

@media only screen and (min-width:980px) and (max-width:1024px) {
.top-menubar #wrapper li {
	padding: 11.3px 7.8px;
}
#wrapper li i{
	font-size:10px;
}
}

@media only screen and (width:1024px) {
.contact .hide_panel .top-left .md-button.md-icon-button {
	width: 41px;
}
.contact .sidenav .nav-list li a {
	width: 92%;
}
.contact .hide_panel .search .left-btn {
	right: 7px;
}
.contact .hide_panel .hide-icon {
	margin-right: 9px;
}
.contact .hide_panel .sidenav-more span {
	padding-right: 11px;
}
.top-menubar #wrapper li.none {
	display: block;
}
.top-menubar #wrapper li {
	padding: 11.3px 7.8px;
}
#wrapper li i{
	font-size:10px;
}
}

@media only screen and (width:1280px) {
.top-menubar #wrapper li {
	padding: 11.3px 13.5px;
}
.top-menubar #wrapper li.none {
	display: block;
}
}

@media only screen and (min-width:320px) and (max-width:767px) {
header {
	background-color: #2d2e2b;
	height: 50px;
	width: 100%;
}
.main-top {
	width: 100%;
}
.main-top .top-left img {
	padding: 5px 10px;
	width: 60%;
}
.main-top .top-left {
	width: auto;
}
.top-middle {
	width: 100%;
	float: left;
	background: #2d2e2b;
	border-top: 1px solid #d5d5d5;
}
.middle-contact.close .middle-contact-bottom {
	bottom: 0;
	left: 0px !important;
	position: fixed;
	width:98% !important;
}
.middle-contact.close {
	width: 100% !important;
	margin-left: 0px !important;
}
.top-middle ul li {
	float: left;
	border-left: 1px solid #2a283e;
	width: 24.4%;
}
.top-middle ul li a span span {
	display: none;
}
.main-top .top-right {
	float: right;
	padding-right: 47px;
	padding-top: 10px;
	width: auto;
}
.user-details .user-name {
	margin: 4px 3px !important;
	text-align: left;
}
.top-right .md-menu i {
	top: 2px;
	left: 3px;
}
.sidenav .sidenav-inner {
	width: 90%;
}
.sidenav .hide_panel {
	left: -90%;
}
.menu-dropdown.menu-options {
	right: 0;
	top: 111px;
}
.top-middle ul li {
	float: left;
	border-left: 1px solid #2a283e;
	width: 24.6%;
}
.online, .offline, .busy, .warning {
	background: #293235;
	height: 20px;
	width: 20px;
	padding: 2px;
	margin-left: 8px;
}
.sidenav .nav-list li a {
	padding: 4px 8px 4px 1px;
}
.slide_panel {
	left: 0;
	top: 76px;
	overflow: hidden;
}
.chat-message-text {
	width: 95%;
	text-align:justify;
}
.sidenav-inner {
	width: 37.2%;
}
.middle-contact.slide {
	margin-left: 37.3%;
	width: 63%;
}
.middle-contact-left {
	padding: 2px 0 !important;
	width: 38% !important;
}
.middle-contact-inner .call-icons {
	margin-right: 5px;
	width: 30%;
}
.user-img1 {
	height: 20px;
	width: 20px;
	margin-right: 4px;
	padding: 2px 3px 3px 3px;
	margin-top: 3px;
}
.hide_panel {
	transition: all 0.2s ease;
	left: -27.5%;
	top: 76px;
}
.call-icons ul li:nth-child(3) {
	margin-top: 0px;
}
.user-name md-icon {
	height: 22px;
	line-height: 20px;
}
.hide_panel .nav-list li a {
	padding: 0px 5px 0px 6px;
}
.user-details .md-menu {
	margin: 1px 0 0 0;
}
.chatlist {
	padding: 13px 8px 0 8px;
	float: left;
}
.addgroup-icons {
	padding-top: 8px;
	margin-right: -25px;
}
.add-contact-search > input {
	width: 74%;
	line-height: 38px;
	margin: 0;
}
.badge {
	margin-right: 0;
}
.cgroup {
	width: 80% !important;
	min-width: 300px;
}
.menu-dropdown {
	background: #0a0d0e none repeat scroll 0 0;
	right: 0;
	position: absolute;
	top: 42px;
	padding: 0 0;
	width: 125px;
	overflow-y: visible;
}
.user-inner {
	position: absolute;
	top: 42px;
	background: #eff1f2;
	right: 0;
	border: 1px solid #e2e3e3;
	width: 95px;
	z-index: 99;
}
.menu-dropdown::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #0a0d0e;
	border-top: 5px solid transparent;
	border-width: 7px;
	position: absolute;
	top: -14px;
	right: 2%;
}
.middle-contact-middle {
	height: 75%;
}
.chatlist-right span {
	float: right;
	margin-left: 0px;
}
.top-middle ul li a span {
	padding: 6px 0 5px 0;
}
md-dialog.md-dialog-fullscreen {
	min-height: auto !important;
	min-width: auto !important;
	border-radius: 0;
}
.create-group-fields {
	padding: 20px 10px 0px 10px;
	overflow: auto;
}
.sidenav .nav-list li a {
	padding: 4px 8px 4px 3px !important;
}
.small-navbar ul li a {
	border-bottom: none;
	color: #9ea2a1;
	display: inline-block;
	padding: 10px 0;
	width: 93%;
}
.sidenav .small-navbar {
	display: block;
}
.small-navbar li.active a {
	color: #b2cc4c;
	border-bottom: 1px solid #3c3d3a;
}
.lg-logo {
	display: none;
}
.menu-dropdown {
	right: 0px !important;
}
.menu-options::before {
	right: 6px !important;
}
.chat-content-text .time {
	font-size: 10px;
}
.user-inner {
	right: 20px !important;
	width: 130px !important;
}
.top-left .side-nav-img1 img {
	display: none;
}
.top-left .side-nav-img1 i {
	display: none;
}
.login-main .user-input {
	margin: 0px 0 0 0 !important;
}
.user-chat, .admin-chat {
	padding-left: 10px !important;
}
.chat-area h4 {
	left: 32px !important;
}
.audiojs .scrubber {
	width: 130px;
}
.audiojs {
	width: 256px;
}
.video-js {
	width: 259px;
	height: 142px;
}
.audiojs .scrubber {
	width: 130px;
}
.audiojs .time {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 3px;
}
.ngscroll-scrollbar {
	display: none !important;
}
.ngscroll-scrollbar-container {
	display: none !important;
}
.main {
	max-height: 470px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.password-change {
	padding-top: 65px;
}
.login-main .tr-logo {
	top: 0;
	text-align: center;
	left: 0;
	width: 160px;
	height: 160px;
	line-height: 0px;
	position: relative;
	margin: 0 auto;
}
.login-main .user-login-page {
	top: 60%;
	left: 0;
	width: 250px;
	position: relative;
	right: 0;
	margin: 0 auto;
}
body.tr-bg-color {
	overflow: auto !important;
}
.login-left, .login-right {
	width: 100% !important;
	padding-top: 55px;
}
.group-chat {
	display: none;
}
.middle-contact-inner .add-group {
	width: 40%;
}
.create-group-fields {
	padding: 20px 4px 0px 8px !important;
	font-size: 11px;
}
.right md-radio-button .md-label {
	width: 35% !important;
}
.group-fields .right md-radio-button .md-off {
	width: 13px;
	height: 13px;
}
.group-fields .right md-radio-button .md-on {
	width: 13px;
	height: 13px;
}
.create-group .group-fields .right input {
	font-size: 11px;
}
.group-fields md-checkbox:not([disabled]).md-primary .md-icon {
	width: 14px;
	height: 14px;
}
.middle-contact-middle.add-group .add-contact-search {
	padding: 0 0px !important;
}
.added-contact-left {
	width: 84% !important;
}
.addMem {
	width: 100% !important;
	min-width: 320px !important;
}
.middle-contact-middle.add-group .left-list {
	width: 100% !important;
}
.group-contact-left {
	width: 40% !important;
}
body .md-toolbar-tools h2 {
	font-size: 17px !important;
}
span.name-wrap.ng-binding {
	width: 70px !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	overflow: hidden;
}
.files-upload-panel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.login-main .tr-logo img {
	margin-left: 5px;
	width: 81%;
	margin-top: 37%;
}
.password-reset-btn .btn-submit, .password-reset-btn .btn-cancel {
	width: 40% !important;
}
.middle-right {
	display: none;
}
.new-password .error-msg {
	width: 100%;
}
/*new-layout-css-responsive*/
.top-menubar .communication {
	width: 100% !important;
	position: absolute;
	top: 36px;
	padding:9px 4px !important;
	border-bottom: 1px solid #ddd;
}
.admin {
	width: 42% !important;
	float: right !important;
	background: #f1f6f6;
	padding: 2px 0px;
}
.top-menubar .search {
	width: 60% !important;
	margin: 3px 0px;
	border-radius: 3px;
	height: 30px;
}
.search .search-input input {
	width: 80% !important;
	padding: 7px !important;
}
.communication li {
	margin-left:7px !important;
}

.small-navbar {
	padding: 0px !important;
}
.search .left-btn {
	top: 12px;
}
.search.search_hide_panel .inputsearch input[type="text"], .search.search_slide_panel .inputsearch input[type="text"] {
	height: 30px !important;
	top: 7px !important;
}
.search_hide_panel .inputsearch {
	width: 84% !important;
}
.scosu-logo-web {
	display: none;
}
img.scosu-logo-res {
	width: 30px;
}
.top-menubar .logo {
	padding: 0 !important;
	margin: 13px 33px 9px 10px;
}
.user-admin-status {
	width: 33% !important;
}
.admin-profile {
	 width: 64% !important;
    float: right !important;
}
.teamr-res-logo .side-nav-img1 img {
	display: block !important;
	width: 33%;
	padding: 0;
	margin: 4px 0px 0 6px;
}
span.teamr-res-logo {
	position: absolute;
	top: 0;
	left: 46px;
}
span.teamr-res-logo .md-button.md-icon-button {
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}
#toggle-button i {
	margin-top: 10px !important;
}
.res-border-top {
	border-top: 1px solid #ddd;
}
.admin-right {
	float: right;
	margin-right: -8px;
}
.teamr-res-logo i.nc-icon-mini.ui-2_menu-34.side-nav-img2.ng-scope {
	display: none;
}
.sidenav .nav-list li {
	line-height: 18px !important;
	padding-left:3px !important;
}
.side-nav-main .online, .side-nav-main .offline, .side-nav-main .busy, .side-nav-main .warning {
	margin-top: 5px !important;
}
.top-left i {
	display: none;
}
.top-menubar .search .search-icon {
	right: 10px !important;
}
.top-middle {
	display: none;
}
.top-left {
	display: none;
}
.teamr-dropdown::before {
	right: 0px !important;
}
.middle-contact-top {
    background-color: #1e2d42 !important;
    border-top: 1px solid #dedede;
}
.middle-contact.close .middle-contact-middle {
    height: 78.2% !important;
}
.middle-contact-middle .loading-status {
    padding-left: 0px;
    width: 100%;
}
.middle-contact-top .middle-contact-left {
    color: #c0d3d6;
}
.chat-message:hover .chat-time-display {
    left: 5px;
}
.sidenav-inner.hide_panel_res {
    width:0px;
	left:0px;
	top: 75px;
}
.sidenav-inner.slide_panel_res {
    width: 100%;
	top: 75px;
}
.sidenav-inner.slide_panel_res.main{
	height:100% !important;
}
.sidenav-inner.slide_panel_res {
    display: block !important;
}
.sidenav-inner.slide_panel_res {
	background:#fff !important;
}
.sidenav-inner.slide_panel_res .main {
    max-height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
	
}

.sidenav-res-right {
    background-color: #2c3c54;
    float: left;
    width:88%;
    height: 100%;
}
 #wrapper-1 li {
    float: none !important;
    padding: 10px;
    position: relative;
    width: auto !important;
    text-align: center !important;
}
#wrapper-1 ul li:hover {
    background: #05b1c7;
    cursor: pointer;
}
#wrapper-1 li span {
    color: #05b1c7;
    font-size: 12px;
    left: 48px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 7px;
    visibility: hidden;
    width: 100%;
    z-index: 999;
}
#wrapper-1 li:hover span {
    visibility: visible;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#wrapper-1 li:hover + li i, #wrapper li.prev img {
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#wrapper-1 {
    width: 12%;
    background: #1c283a;
	float:left;
}
.sidenav-res-main{
	height:100%;
	overflow-y:auto;
	background-color:#2c3c54;
	width: 90%;
}
.group-fields .right md-radio-button {
    margin-left: 4px;
}
.group-fields .right md-checkbox {
    margin-left: 4px;
}

md-dialog {
    max-height: 85% !important;
    top: 1%;
}
.del-contact .md-dialog-content {
    padding: 24px 20px !important;
}
}
@media only screen and (min-width:768px) and (max-width: 1920px) {
img.scosu-logo-res {
	display: none;
}
span.teamr-res-logo {
	display: none;
}
}