
/* ========= Login page start here ========*/

*{ margin:0; padding:0; outline:none;}

body{
	background:url(../images/background.jpg) no-repeat center center fixed;
	width:100%;
	height:100%;
	font-size:14px;
	font-family: 'Ubuntu', sans-serif;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.main-wrapper{
	color:#fff;
	
}
span{
	font-weight:bold;
}
.paddnone{ padding:0;}
.trlogo{
 	width: 240px;
    height: 240px;
    text-align: center;
    line-height: 240px;
    border-radius: 50%;
	background:#1c799c;
    border: 1px solid #136280;
	position: fixed;
    text-align: center;
    top: 32%;
	left:25%;
    width: 240px;
}
.trlogo img {
    margin: 2px 0 0 10px;
}
.user-login-details {
    display: table;
    position: fixed;
    right: 26%;
    top: 28%;
}
.user-name p {
    margin-bottom: 25px;
}
.nc-icon-mini.users_single-05 {
    color: #646667;
    left: 10px;
    position: absolute;
    top: 58px;
    font-size: 12px;
}
.nc-icon-mini.ui-1_lock-open {
    color: #646667;
    left: 10px;
    position: absolute;
    top: 114px;
	font-size: 12px;
}
.input-style{ padding-left:30px !important}
input{
	height:40px !important;
	width:266px !important;
}
.login-btn{
	width:100%;
	padding:10px 0px;
	margin-top:15px;
}
.copy-right{
	color:#5fd1fa;
	margin-top:50px;
}

/* invalid password styles */

.forgot-pw{
	margin-top:15px;
}
.forgot-pw a {
    color: #fff;
}
.forgot-pw a:hover{
	text-decoration:none;
}


/* forgot password styles */

.submitted.ng-invalid
{
  border:1px solid #dd4b39;
}

.pw-error{
	border:1px solid #dd4b39;
}
.fgt-pw-un:focus{
	color:#000;
	border:1px solid #32baea;
}
.forget-btn {
     width: 40%;
    float: left;
	padding:8px 0px;
    margin-right: 7px;
}
.btn-danger.forget-btn {
    margin-right: 0;
}
.reset-text{ font-size:13px; margin-top:20px;margin-bottom:13px;}
.reset-text i {
    background: #12db8a;
    border-radius: 50px;
    margin-right: 10px;
	color:#000;
}
.new-password-details .forget-btn{ width:57%}
.new-password-details .btn-danger.forget-btn{ width:32%}
.update-password-details {
    position: fixed;
    top: 40%;
}
.error-msg{
			width:100%;
			height:32px;
			background:#dd4b39;
			position:relative;
			padding: 8px 0px 0;
		}
		.error-msg:before, .error-msg:after{
			height:0px;
			width:0px;
			position:absolute;
			border:solid transparent;
			content:"";
			left:50%;
			bottom:100%;
			pointer-events:none;
		}
		.error-msg:before{
			border-color:;
			border-width:10px;
			margin-left:-15px;
			border-bottom-color:#dd4b39;
		}
		.error-msg:after{	
			border-color:;
			border-width:10px;}
.error-msg p{    
	 margin: 0;
    font-size: 12px;
    text-align: center;
}


